.banner{
  background-image:url(/assets/about.jpg);
  background-size: center;




}
.centered {
  position: absolute;
  bottom: 40px;
  right: 35%;
  background-color: rgba(255, 255, 255, 0.541);
  color: rgb(0, 0, 0);
  padding-left: 20px;
  padding-right: 10px;

}

p{
  font-size: 120px;
}
