<app-nav></app-nav>
<div class="wrapper-n">

<app-menu></app-menu>
  <section class="home-providers">
    <div class="container">
      <div class="row" id="home-providers-wrapper">
        <div class="tab-pane fade active show">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" *ngFor="let company of companies">
              <div class="featured-box" dir="rtl">
                <figure>
                   <a routerLink="/showcompany"
                    ><img
                      class="img-fluid"
                      src="http://localhost:3000/{{company.image}}"
                      alt="image"
                  /></a>

                </figure>
                <div class="feature-content" >
                  <div class="product">
                <span class="d-inline-block t--8 cat-color-1">{{company?.category?.Name}} </span >
                  </div>
                  <h4 class="cat-color-1">
                    <a class="cat-color-1">{{company.Name}}</a>
                  </h4>
                  <div class="meta-tag">
                    <span>{{company.address}}</span>
                  </div>
                  <p class="dsc"></p>
                  <div class="listing-bottom">
                    <a class="btn btn-common cat-background-color-1" routerLink="/showcompany">عرض التفاصيل</a>
                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>
       </div>
  </section>
  </div>
